<!DOCTYPE html>
<html {{ HTML_ATTRS }}>
<head>
  {{ HEAD }}
  <!--[if lte IE 8]>
  <link rel="stylesheet" type="text/css" href="/styles/hacks-ie_7-8.css">
  <![endif]-->
  <!--[if (IE 8) | (IE 9)]>
  <link rel="stylesheet" type="text/css" href="/styles/hacks-ie_8-9.css">
  <![endif]-->
</head>
<body {{ BODY_ATTRS }}>
  <noscript>
    <div class="v-alert error"><div>JavaScript not supported by your browser or it is disabled</div></div>
  </noscript>
  {{ APP }}
</body>
</html>
