<template>
  <div class="col-1-4 item">
    <div class="module">
      <div>
        <article>
          <time class="date">{{ word.date }}</time>
          <h2>{{ word.word }} - {{ word.translate }}</h2>
          <p class="description">{{ word.description }}</p>
          <nuxt-link to="/">Read More</nuxt-link>
          <button class="add-like">
            <img src="/images/heart.png">
          </button>
        </article>
      </div>
    </div>
  </div>
</template>

<script src="./WordAssoc.js"/>
