section, article, aside, footer, header, nav, hgroup {
  display: block;
}

body {
  padding: 10px 25px 200px;
  background-color: #202020;
}

.grid {
  background-color: #ffffff;
  margin: 0 0 20px 0;
  min-width: 250px;
}

.grid-pad {
  padding: 20px;
}

.module {
  padding: 20px;
  background-color: #68B2F6;
  position: relative;
}

button.add-like {
  width: 40px;
  height: 25px;
  position: relative;
  top: 6px;
  margin: 0 5px 10px;
  border-radius: 20px / 15px;
  border: none;
  cursor: pointer;
  background-color: #ff0000;

  img {
    height: 100%;
    width: auto;
  }
}

h1 {
  color: white;

  em {
    color: #666;
    font-size: 16px;
  }
}

.row .item {
  min-width: 210px;
}

/* ------ */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

[class*='col-'] {
  padding: 10px;
}

button.add-like {
  background-color: rgba(255, 0, 0, 1);
  box-shadow: inset 1px 1px 3px rgba(255, 255, 255, 0.4), inset -1px -1px 3px rgba(0, 0, 0, 0.4);

  &:hover {
    background-color: rgba(255, 0, 0, 0.5);
  }

  &:active {
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.4),
      inset -1px -1px 3px rgba(255, 255, 255, 0.4);
  }
}
