.module:after {
  width: 0;
}

@media (min-width: 520px) {
  .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0;

    .item {
      /*display: flex;*/
      min-width: 200px;
      flex: 1 50%;
    }
  }
}

@media (min-width: 950px) and (max-width: 1228px) {
  .row .item {
    flex-basis: 33%;
  }
}

@media (min-width: 1228px) {
  .row .item {
    flex-basis: 25%;
  }
}
