.grid:after {
  content: "";
  display: table;
  clear: both;
}

[class*='col-'] {
  float: left;
  padding: 10px;
}

.col-3-4 {
  width: 75%;
}

.col-2-3 {
  width: 66.66%;
}

.col-1-3 {
  width: 33.33%;
}

.col-1-2 {
  width: 50%;
}

.col-1-4 {
  width: 25%;
}

.col-1-8 {
  width: 12.5%;
}

.row {
  overflow: hidden;
  margin-bottom: 10px;
}

.module:after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 200%;
  background: #68B2F6;
}