@supports (display: grid) {
  .row .item {
    margin: 10px;
    min-width: 200px;
    width: auto;
    background-color: #68B2F6;
  }

  @media (min-width: 1100px) {
    .row {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-areas: "main   main    main     second   third   fourth"\
                           "main   main    main     second   fifth   fifth"\
                           "sixth  sixth   sixth    seventh  seventh seventh"\
                           "promo  promo   promo    promo    promo   promo"\
                           "eighth  ninth  ninth    ninth    ninth   eleventh"\
                           "eighth  tenth  tenth    tenth    tenth   eleventh ";

      .item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;

        &:nth-child(1) {
          grid-area: main;
        }
        &:nth-child(2) {
          grid-area: second;
        }
        &:nth-child(3) {
          grid-area: third;
        }
        &:nth-child(4) {
          grid-area: fourth;
        }
        &:nth-child(5) {
          grid-area: fifth;
        }
        &:nth-child(6) {
          grid-area: sixth;
        }
        &:nth-child(7) {
          grid-area: seventh;
        }
        &:nth-child(8) {
          grid-area: eighth;
        }
        &:nth-child(9) {
          grid-area: ninth;
        }
        &:nth-child(10) {
          grid-area: tenth;
        }
        &:nth-child(11) {
          grid-area: eleventh;
        }
        &.promo {
          grid-area: promo;
        }
      }
    }
  }
}
