<template>
  <v-app class="main-container">
    <v-alert :value="isNotSupported" class="browser-no-supported" color="error">
      Your browser features are limited. You can only read this page. For advanced features, install a newer browser
      version.
    </v-alert>

    <nuxt />
  </v-app>
</template>

<script src="./default.js" />
<style lang="stylus" src="./default.styl" />
