//.toolbar-gd {
//  height: 56px;
//  height: inherit;
//
//  .v-toolbar__content {
//    padding: 0;
//    line-height: 50px;
//  }
//
//  .v-toolbar__items {
//    float: left;
//    font-size: 20px;
//    padding: 0 20px;
//
//    a {
//      color: #fff;
//    }
//  }
//}
