<template>
  <div class="grid grid-pad">
    <div class="toolbar-gd darken-1 grey">
      <v-toolbar color="grey darken-1" dark>
        <nuxt-link class="v-btn v-btn--icon theme--dark" to="/new-word">
          <v-icon>note_add</v-icon>
        </nuxt-link>

        <v-btn icon @click="startSync">
          <v-icon>sync</v-icon>
        </v-btn>
      </v-toolbar>
    </div>

    <div class="row">
      <WordAssoc
        v-for="item in words"
        :key="item.id"
        :word="item"
      />
    </div>
  </div>
</template>

<script src="./index.js" />
<style lang="stylus" src="./index.styl" />
