.goBack {
  text-decoration: none;
  line-height: 1;
}

.v-form {
  max-width: 500px;
  margin: 30px auto;
}

.form-gd .theme--light.v-label {
  color: #b0b0b0;
}

.md-datepicker-body-content {
  max-height: 270px;
}
