<template>
  <div class="grid grid-pad">
    <v-toolbar dark color="grey darken-1">
      <nuxt-link class="v-btn v-btn--icon theme--dark" to="/">
        <v-icon>arrow_back</v-icon>
      </nuxt-link>

      <v-spacer />

      <v-btn icon @click="submit">
        <v-icon>check</v-icon>
      </v-btn>
    </v-toolbar>

    <v-form ref="form" v-model="valid" lazy-validation class="form-gd pa-3 pt-4">
      <v-menu
        ref="menu1"
        :close-on-content-click="false"
        v-model="isPickerActive"
        :nudge-right="40"
        lazy
        transition="scale-transition"
        offset-y
        full-width
        max-width="290px"
        min-width="290px"
      >
        <v-text-field
          slot="activator"
          v-model="dateFormatted"
          :rules="dateRules"
          label="Date"
          hint="MM/DD/YYYY format"
          persistent-hint
          prepend-icon="event"
          required
          @blur="date = parseDate(dateFormatted)"
        />
        <v-date-picker v-model="date" no-title @input="isPickerActive = false" />
      </v-menu>

      <v-text-field
        v-model="word"
        :rules="wordRules"
        prepend-icon="short_text"
        label="Word"
        required
      />

      <v-text-field
        v-model="translate"
        :rules="translateRules"
        prepend-icon="short_text"
        label="Translate"
        required
      />

      <v-textarea
        v-model="description"
        :rules="descriptionRules"
        auto-grow
        box
        label="Description"
        rows="1"
        required
      />
    </v-form>
  </div>
</template>

<script src="./new-word.js" />
<style lang="stylus" src="./new-word.styl" />
