/* for <=ie8 hack - show without float */
@media \0screen\,screen\9 {
  .v-input__prepend-outer {
    display: none;
  }

  .v-text-field INPUT {
    border: 1px solid grey;
  }

  .v-text-field--enclosed.v-text-field .v-input__slot {
    padding: 0;
  }

  .v-text-field--enclosed.v-textarea .v-text-field__slot {
    margin: 0;
  }

  .v-text-field--enclosed.v-textarea .v-text-field__slot TEXTAREA {
    border: 1px solid grey;
    margin: 0;
    padding-right: 0;
  }

  .v-label {
    position: static !important;
    float: left;
  }

  .browser-no-supported.v-alert.error {
    display: block !important;
    margin: 0 !important;
  }
}

/* for <=ie7 hack - show without float */
@media screen\9 {
  .row {
    margin-bottom: 0;
  }

  .grid-pad {
    padding: 20px 30px;
  }

  [class*='col-'] {
    float: none;
    width: auto;
    padding: 10px 0;
  }
}
